<div class="post-top">
    <h1 class="post-top--title"><%= page.title %></h1>
    <h2 class="post-top--subtitle"><%= page.subtitle %></h2>
    <% if (page.author) { %> posted by <%= page.author %> <% } %>
<% if (page.date) { %> on <%= page.date.format(config.date_format) %> <% } %>
</div>

<hr class="post-divider">

<div class="post-content">
    <%- page.content %>
</div>

<hr class="post-divider">
<div class="post-meta">
    <%- partial("_partials/post_tags.ejs") %>
    <%- partial("_partials/post_categories.ejs") %>
</div>

<div class="post-comments">
    <%- partial("_partials/comments.ejs") %>
</div>